#hero-wrap {
  .caption-large {
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
  }
}
#content {
  p {
    color: #000000;
  }
}
#executive-search {
  .title {
    h2 {
      color: #000000 !important;
    }
  }
  .intro {
    .intro-content {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      .info {
        width: 50%;
        & > * {
          margin-bottom: 1.5rem;
        }
        & > *:last-child {
          margin-bottom: 0;
          margin-top: 0.5rem;
        }
      }
      .img {
        width: 50%;
        margin-right: 2rem;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .img-2 {
      order: 2;
      margin-left: 2rem;
      margin-right: 0 !important;
    }

    p.hilight-text {
      font-size: 1.35em;
      font-weight: 700;
      text-align: center;
      margin-bottom: 2rem;
    }
    .btn {
      justify-content: center;
      &.gradient {
        a {
          font-size: 1.2em;
          background-color: #000000;
          background-image: linear-gradient(45deg, #000000 0%, #383838 100%);
          padding: 0 2rem;
          &::before {
            background-image: linear-gradient(45deg, #383838 0%, #000000 100%);
          }
        }
      }
    }
  }
  .success {
    background: #f8f8f8;

    .success-content {
      padding: 2rem 0;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
          margin-bottom: 2rem;
        }
        .heading {
          font-size: 1.5em;
          font-weight: 500;
        }
        .img {
          width: 600px;
          height: 25vw;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .info {
          width: 80%;
          margin: 0 auto;
          h3 {
            color: #000000;
          }
        }
      }
    }
  }
  .contact {
    .tagline {
      text-align: center;
      font-size: 1.35em;
    }
    .lp-form {
      width: 600px;
      margin: auto;
      padding: 2rem 0;
      .ui.form {
        .field {
          label {
            margin-bottom: 1rem;
          }
          input:not([type]),
          input[type="email"],
          input[type="tel"],
          input[type="text"],
          textarea {
            background: transparent;
            border-radius: 8px !important;
            -webkit-border-radius: 8px !important;
            -moz-border-radius: 8px !important;
            -ms-border-radius: 8px !important;
            -o-border-radius: 8px !important;
            border: 1px solid #2e2e2e !important;
          }
        }
        .btn {
          padding: 1rem 0;
          justify-content: center;
          &.gradient {
            a {
              font-size: 1.2em;
              background-color: #000000;
              background-image: linear-gradient(
                45deg,
                #000000 0%,
                #383838 100%
              );
              padding: 0 2rem;
              &::before {
                background-image: linear-gradient(
                  45deg,
                  #383838 0%,
                  #000000 100%
                );
              }
            }
          }
        }
      }
    }
  }
  .profile {
    background: #f8f8f8;
    .item {
      display: flex;
      flex-direction: row;
      .img {
        width: 300px;
        height: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: middle top;
        }
      }
      .info {
        width: 100%;
        padding-left: 3rem;
        & > * {
          margin-bottom: 0.5rem;
        }
        & > *:last-child {
          margin-bottom: 0;
        }
        h2 {
          color: #000000;
          text-transform: uppercase;
        }
        p.position {
          font-weight: 500;
          font-size: 1.2em;
        }
      }
    }
  }
  // Owl Carousel Custom
  .owl-stage-outer {
    margin-bottom: 4rem;
  }
  .owl-dots {
    .owl-dot {
      span {
        background: transparent;
        border: 1px solid black;
        width: 12px !important;
        height: 12px !important;
        margin: 6px 6px !important;
      }
      &.active {
        span {
          background: black;
        }
      }
    }
  }
}
footer {
  background-image: linear-gradient(to top, #000000 40%, #1d1d1d 100%);
}
@media only screen and (max-width: 768px) {
  #hero-wrap {
    .caption-large {
      font-size: 1.5em;
    }
  }
  #executive-search {
    .title {
      h2 {
        color: #000000 !important;
      }
    }
    .intro {
      .intro-content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        .info {
          width: 100%;
          & > * {
            margin-bottom: 1rem;
          }
          & > *:last-child {
            margin-bottom: 0;
            margin-top: 0.5rem;
          }
        }
        .img {
          width: 100%;
          margin-right: 0;
          margin-bottom: 1rem;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .img-2 {
        order: unset;
        margin-left: 0;
        margin-right: 0 !important;
      }
    }
    .success {
      background: #f8f8f8;
      .success-content {
        padding: 2rem 0;
        .item {
          & > * {
            margin-bottom: 1.5rem;
          }
          .heading {
            font-size: 1.5em;
          }
          .img {
            width: 100%;
            height: 200px;
          }
          .info {
            width: 100%;
          }
        }
      }
    }
    .contact {
      .tagline {
        font-size: 1.35em;
      }
      .lp-form {
        width: 100%;
        padding: 2rem 0;
      }
    }
    .profile {
      .item {
        display: flex;
        flex-direction: column;
        .img {
          width: 100%;
          height: auto;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: top;
          }
        }
        .info {
          width: 100%;
          padding-left: 0;
          padding: 2rem 0;
          & > * {
            margin-bottom: 0.5rem;
          }
          & > *:last-child {
            margin-bottom: 0;
          }
          p.position {
            font-weight: 500;
            font-size: 1.2em;
          }
        }
      }
    }
    // Owl Carousel Custom
    .owl-stage-outer {
      margin-bottom: 2rem;
    }
  }
}
