@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Prompt", sans-serif !important;
  font-size: 16px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

#hero-wrap {
  .hero-caption {
    top: 55%;
    h1 {
      font-family: "Prompt", sans-serif !important;
      color: #fff;
      font-size: 3.5em;
      letter-spacing: 1px;
      line-height: 120%;
    }
    h2 {
      font-family: "Prompt", sans-serif !important;
      font-size: 2em;
      font-weight: 200;
      color: #fff;
      letter-spacing: 1px;
      padding: 1rem 0;
    }
    .btn {
      margin-top: 2rem;
      a {
        font-weight: 500;
        background: #00a7ff;
        border: 0 none;
        border-radius: 2rem;
        color: #ffffff;
        cursor: pointer;
        line-height: 2rem;
        padding: 1rem 2rem;
        position: relative;
        z-index: 1;
        font-size: 1.2em;
        &:focus,
        &:hover {
          background: #009df1;
          opacity: 1;
        }
      }
    }
  }
}
#techTalent {
  p {
    font-family: "Lato", sans-serif !important;
    font-weight: 300;
    color: #000;
  }
  .btn {
    a {
      font-family: "Prompt", sans-serif !important;
      font-weight: 500;
      background: #00a7ff;
      border: 0 none;
      border-radius: 2rem;
      color: #ffffff;
      cursor: pointer;
      line-height: 2rem;
      padding: 1rem 2rem;
      position: relative;
      z-index: 1;
      font-size: 1.2em;
      &:focus,
      &:hover {
        background: #009df1;
        opacity: 1;
      }
    }
  }
  .title {
    margin-bottom: 3rem !important;
    h2 {
      font-family: "Prompt", sans-serif !important;
      font-size: 2.5em !important;
      font-weight: 500;
      text-transform: unset !important;
      color: #000 !important;
    }
  }
  .intro {
    background: #f8f8f8;
    .info {
      text-align: center;
      padding: 1rem 0;
      p {
        font-size: 1.2em;
        margin-bottom: 0.5rem;
      }
    }
  }
  .about {
    .wrapper {
      width: auto;
      .inner {
      }
    }
    .about-info {
      display: flex;
      align-items: center;
      background: #f5f5f5;
      padding-right: 10%;
      & > * {
        flex-grow: 1;
      }
      .img {
        width: 40%;
        height: 25vw;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .info {
        width: 40%;
        padding: 2rem 2rem;

        p {
          font-size: 1.2em;
          margin-bottom: 1rem;
        }
      }
    }
    .btn {
      margin-top: 2rem;
    }
  }
  .talents {
    background-image: url("../images/tech-talent/code-bg.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    position: relative;
    &::before {
      display: block;
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.7;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
    }
    .inner {
      padding: 6rem 0;
    }

    .title {
      position: relative;
      h2 {
        color: #fff !important;
      }
    }
    .talents-list {
      position: relative;
      ul {
        font-family: "Prompt", sans-serif;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .item {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 1rem 1rem;
          color: #fff;
          .img {
            margin-bottom: 0.5rem;
            opacity: 0.8;
            img {
              width: 80px;
            }
          }
          .number {
            display: flex;
            align-items: center;
            .digit {
              font-weight: 600;
              font-size: 30px;
            }
            .plus {
              font-weight: 600;
              font-size: 1.5em;
              padding-left: 6px;
            }
          }
          .name {
            font-size: 1em;
            font-weight: 400;
          }
        }
      }
    }
  }
  .search {
    .search-row {
      form {
        .field-row {
          display: flex;
          flex-direction: row;
          align-items: end;
          justify-content: flex-start;
          margin-bottom: 1rem;

          .field {
            width: 32%;
            padding-right: 15px;
            margin-right: 0;
            margin-bottom: 0;
            label {
              font-size: 1em;
              margin-bottom: 0.5rem;
              font-weight: 500;
            }
            input[type="text"] {
              height: 42px;
              padding: 0 0.75rem;
              border: 1px solid #00a7ff !important;
            }
            .selection {
              height: 42px;
              min-height: 0;
              border: 1px solid #00a7ff !important;
            }

            .selection.active.dropdown:hover .menu {
              border-color: #00a7ff !important;
            }
            .dropdown > .dropdown.icon:before {
              color: #00a7ff;
            }
          }
          .submit-btn {
            background: #00a7ff;
            width: 45px;
            height: 45px;
            border: 0 none;
            border-radius: 50%;
            color: #ffffff;
            cursor: pointer;
            padding: 0;
            position: relative;
            z-index: 1;
            &:hover,
            &:focus {
              opacity: 1;
              background: #009df1;
            }
            i {
              font-size: 24px;
            }
          }
        }
      }
    }
    .job {
      .job-list {
        padding: 4rem 0;
        ul {
          display: flex;
          flex-direction: column;
          .jd {
            width: 100%;
            border: 1px solid #00a7ff;
            border-radius: 15px;
            color: #000;
            padding: 1rem 1rem;
            margin-bottom: 1.5rem;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            .heading {
              display: flex;
              flex-direction: row;
              align-items: end;
              justify-content: space-between;
              margin-bottom: 0.5rem;
              .position {
                font-size: 1.2em;
                font-weight: 500;
              }
              .id {
                font-size: 1em;
                font-weight: 500;
                color: #4d4d4d;
              }
            }
            .detail {
              font-family: "Lato", sans-serif !important;
              color: #000;
              display: flex;
              flex-direction: column;

              .salary {
                align-items: center;
                display: flex;
                font-size: 1.3em;
                font-weight: 300;
                justify-content: flex-start;
                line-height: 1.75;
                i {
                  color: #00a7ff;
                  font-size: 24px;
                  margin-right: 10px;
                  width: 1.25em;
                }
              }
              .item {
                display: table;
                flex-direction: row;
                .item-label {
                  display: table-cell;
                  color: #4d4d4d;
                  font-size: 1.2rem;
                  font-weight: 700;
                  width: 15%;
                }
                .item-data {
                  color: #4d4d4d;
                  font-size: 1.2rem;
                  font-weight: 500;
                }
              }
            }
            .cv-btn {
              padding-top: 1rem;
              .btn {
                justify-content: end;
                a {
                  padding: 0.5rem 1.5rem;
                  font-size: 1em;
                  font-weight: normal;
                }
              }
            }
            // Popup Style
            #formPopup {
              .modal-dialog {
                max-width: 400px;
              }
              .modal-content {
                padding: 1rem 1rem;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                .close-btn {
                  i {
                    font-size: 18px;
                    color: #4d4d4d;
                  }
                }
                .position-title {
                  display: block;
                  text-align: center;
                  font-size: 14px;
                  color: #4d4d4d;
                  margin-bottom: 15px;
                  font-weight: 500;
                  span {
                    padding: 0 2px;
                  }
                  .head {
                    color: #000;
                  }
                }
                .form-section {
                  form {
                    width: 300px;
                    margin: auto;
                    .field {
                      margin-right: 0;
                      margin-bottom: 10px;
                      label {
                        font-size: 12px;
                        font-weight: 500;
                        &::after {
                          margin: 3px 0 0 8px !important;
                        }
                      }
                      input {
                        font-size: 16px !important;
                        height: 35px;
                        padding: 0 0.75rem;
                        border: 1px solid #00a7ff !important;
                        &::placeholder {
                          font-size: 12px;
                        }
                      }
                    }
                  }
                  .button-group {
                    width: 100%;
                    padding-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .btn {
                      padding: 0 8px;
                      a {
                        padding: 6px 15px;
                        font-size: 12px;
                      }
                    }
                    .btn-cancel {
                      a {
                        border: 1px solid #707070;
                        background: transparent;
                        color: #707070;
                        &:focus,
                        &:hover {
                          opacity: 0.8;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          #completedPopup {
            .modal-dialog {
              max-width: 400px;
            }
            .modal-content {
              padding: 1rem 1rem;
              border-radius: 25px;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              -ms-border-radius: 25px;
              -o-border-radius: 25px;
              .close-btn {
                i {
                  font-size: 18px;
                  color: #4d4d4d;
                }
              }
              .heading {
                text-align: center;
                padding: 2rem 0;
                h2 {
                  font-family: "Prompt", sans-serif !important;
                  font-weight: 500;
                  font-size: 1.5em;
                  color: #000;
                  margin-bottom: 1rem;
                }
                p {
                  padding: 0 2rem;
                }
                .btn {
                  padding: 1rem 0;
                  a {
                    padding: 6px 15px;
                    font-size: 12px;
                  }
                }
                
              }
            }
          }
        }
      }
    }
  }
  .contact {
    background-image: url("../images/tech-talent/contact-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    position: relative;
    &::before {
      display: block;
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.7;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
    }
    .inner {
      position: relative;
      padding: 8rem 0;
      .title {
        h2 {
          color: #fff !important;
        }
      }
      h2 {
        color: #ffffff;
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 2rem;
        text-align: center;
      }
      .details {
        width: 500px;
        margin: 0 auto;
        font-family: "Lato", sans-serif !important;
        font-weight: 400;
        font-size: 1em;
        .list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .item {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1rem;
            .icon {
              opacity: 0.8;
              i {
                font-size: 24px;
                margin-right: 1rem;
                margin-top: 0.2rem;
              }
            }
            .link {
              a {
                font-size: 1em;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  #hero-wrap {
    .hero-caption {
      top: 65%;
      h1 {
        font-size: 1.5em;
        line-height: 120%;
      }
      h2 {
        font-size: 15px;
        padding: 8px 0;
      }
      .btn {
        margin-top: 8px;
        a {
          font-size: 1em;
          padding: 0.75rem 2rem;
        }
      }
    }
  }
  #techTalent {
    .btn {
      a {
        font-size: 1em;
        padding: 0.75rem 2rem;
      }
    }
    .title {
      margin-bottom: 2rem !important;
      h2 {
        font-size: 1.5em !important;
        line-height: 100%;
        padding: 0 20px;
      }
    }
    .intro {
      .info {
        padding: 1rem 0;
        p {
          font-size: 1.2em;
          margin-bottom: 0.5rem;
        }
      }
    }
    .about {
      .wrapper {
        width: 100%;
        .inner {
          padding: 2rem 0;
        }
      }
      .about-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;

        .img {
          width: 100%;
          height: 200px;
        }
        .info {
          width: 100%;
          padding: 1rem 1.5rem;

          p {
            font-size: 1em;
            margin-bottom: 1rem;
          }
        }
      }
      .btn {
        margin-top: 1rem;
      }
    }
    .talents {
      background-image: url("../images/tech-talent/code-bg.jpg");
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: unset;
      .inner {
        padding: 3rem 0;
      }

      .title {
        position: relative;
        h2 {
          color: #fff !important;
        }
      }
      .talents-list {
        position: relative;
        ul {
          .item {
            width: 50%;
            padding: 10px 15px;
            .img {
              margin-bottom: 5px;
              img {
                width: 50px;
              }
            }
            .number {
              display: flex;
              align-items: center;
              .digit {
                font-size: 24px;
              }
              .plus {
                font-weight: 600;
                font-size: 20px;
                padding-left: 6px;
              }
            }
            .name {
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .search {
      .search-row {
        form {
          .field-row {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0;

            .field {
              width: 100%;
              padding-right: 0;
              margin-bottom: 10px;
            }
          }
        }
      }
      .job {
        .job-list {
          padding: 2rem 0;
          ul {
            .jd {
              .heading {
                margin-bottom: 0.5rem;
                .position {
                  font-size: 18px;
                }
                .id {
                  font-size: 16px;
                }
              }
              .detail {
                .salary {
                  font-size: 1.3em;
                }
                .item {
                  display: block;
                  margin-bottom: 5px;
                  .item-label {
                    display: table-cell;
                    color: #4d4d4d;
                    font-size: 1.2rem;
                    font-weight: 700;
                    width: 15%;
                  }
                }
              }
              .cv-btn {
                .btn {
                  justify-content: center;
                }
              }
              #formPopup {
                padding: 0;
                .modal-dialog {
                  max-width: 100%;
                }
                .modal-content {
                  .form-section {
                    form {
                      width: 100%;
                      padding: 0 1rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .contact {
      background-image: url("../images/tech-talent/contact-bg-sp.jpg");
      background-attachment: unset;
      .inner {
        padding: 4rem 0;
        h2 {
          font-size: 1.2em;
          margin-bottom: 1rem;
          text-align: center;
        }
        .details {
          width: 100%;
          padding: 0 1.5rem;
          .list {
            .item {
              display: inline-flex;
              flex-direction: row;
              align-items: start;
              margin-bottom: 10px;
              .icon {
                i {
                  font-size: 24px;
                  margin-right: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
